body{
    margin: 0;
    padding: 0;
    min-width: 1240px;
    overflow-y: scroll;
    background-color: #fafafa;
    font-size: 14px;
    line-height: 1.5;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    color: #000;

 

    
}